window {
  font-size: 1rem;
  font-family: "JetBrains Mono Nerd Font", monospace;
  margin: 0px;
  border: 1px solid #b4befe;
  background-color: #1f1f2e;
}

#input {
  margin: 5px;
  border: none;
  color: #d4dced;
  background-color: #323343;
}

#inner-box {
  margin: 5px;
  border: none;
  background-color: #181825;
}

#outer-box {
  margin: 5px;
  border: none;
  background-color: #181825;
}

#scroll {
  margin: 0px;
  border: none;
}

#text {
  margin: 5px;
  border: none;
  color: #d4dced;
}

#entry.activatable #text {
  color: #181825;
}

#entry > * {
  color: #d4dced;
}

#entry:selected {
  background-color: #6d7183;
}

#entry:selected #text {
  font-weight: bold;
}
