#window {
  font-size: 1rem;
  font-family: "JetBrains Mono Nerd Font";
  color: #CDD6F4;
  background-color: #1E1E2E;
  border: 1px solid grey;
  border-radius: 0.5rem;
}

#input {
 background-color: #585B70;
 color: #CDD6F4;
}
