@define-color bg    #1f1f2e;
@define-color fg    #d4dced;
@define-color blk   #12121c;
@define-color red   #c4738e;
@define-color grn   #89b889;
@define-color ylw   #c8b692;
@define-color blu   #7192d0;
@define-color mag   #c59bbe;
@define-color cyn   #77b6b0;
@define-color brblk #4f4f4f;
@define-color white #b8b8b8;

* {
    font-family: "JetBrainsMono Nerd Font", monospace;
    font-size: 16px;
    font-weight: bold;
}

.modules-right > widget > * {
    margin-right: 12px;
}

.modules-left > widget > * {
    margin-left: 12px;
}

window#waybar {
    background-color: transparent;
    color: @fg;
}

tooltip {
    color: @brblk;
    background-color: alpha(@blk, 0.95);
    border: 1px solid @brblk;
    border-radius: 8px;
}

menu {
    background-color: alpha(@blk, 0.95);
    border: 1px solid @brblk;
    border-radius: 8px;
    padding: 6px;
}

menuitem {
    color: @fg;
    border-radius: 8px;
}

menuitem image {
    margin-right: 8px;
}

menuitem:hover {
    background-color: alpha(@blu, 0.2);
}

menuitem:disabled {
    color: @brblk;
}

menu separator {
    background-color: alpha(@fg, 0.2);
    min-height: 1px;
    margin: 4px 6px;
}

#workspaces button {
    padding: 0 6px;
    color: @fg;
    background: transparent;
    border: 1px solid transparent;
}

#workspaces button.active {
    border: 1px solid @brblk;
    background-color: alpha(@blk, 0.4);
}

#workspaces button.urgent {
    background-color: @red;
}

#network,
#wireplumber,
#cpu,
#memory,
#battery,
#clock {
    padding: 0 8px;
    color: @white;
}

#clock {
    color: @fg;
    background-color: alpha(@blk, 0.4);
    border: 1px solid @fg;
    border-radius: 8px;
}

#network {
    color: @fg;
    background-color: alpha(@blk, 0.4);
    border: 1px solid @blu;
    border-radius: 8px;
    padding: 0 10px 0 8px;
}

#wireplumber {
    color: @fg;
    background-color: alpha(@blk, 0.4);
    border: 1px solid @fg;
    border-radius: 8px;
}

#wireplumber.muted {
    color: @brblk;
    background-color: alpha(@blk, 0.4);
    border: 1px solid @brblk;
    border-radius: 8px;
}

#cpu {
    color: @fg;
    background-color: alpha(@blk, 0.4);
    border: 1px solid @ylw;
    border-radius: 8px;
    padding: 0 12px 0 8px;
}

#memory {
    color: @fg;
    background-color: alpha(@blk, 0.4);
    border: 1px solid @mag;
    border-radius: 8px;
    padding: 0 14px 0 8px;
}

#battery {
    color: @fg;
    background-color: alpha(@blk, 0.4);
    border: 1px solid @grn;
    border-radius: 8px;
}

#network.disconnected {
    background-color: alpha(@red, 0.4);
}

#tray > widget > * {
    color: @brblk;
    background-color: alpha(@blk, 0.4);
    border: 1px solid @brblk;
    border-radius: 8px;
    padding: 0 8px;
}
