@define-color bg    #282a36;
@define-color fg    #f8f8f2;
@define-color blk   #21222c;
@define-color red   #ff5555;
@define-color grn   #50fa7b;
@define-color ylw   #f1fa8c;
@define-color blu   #bd93f9;
@define-color mag   #ff79c6;
@define-color cyn   #8be9fd;
@define-color brblk #44475a;
@define-color white #f8f8f2;

* {
    font-family: "JetBrainsMono Nerd Font", monospace;
    font-size: 16px;
    font-weight: bold;
}

window#waybar {
    background-color: @bg;
    color: @fg;
}

#workspaces button {
    padding: 0 6px;
    color: @cyn;
    background: transparent;
    border-bottom: 3px solid transparent;
}
#workspaces button.active {
    color: @cyn;
    border-bottom: 3px solid @mag;
}
#workspaces button.empty {
    color: @white;
}
#workspaces button.empty.active {
    color: @cyn;
    border-bottom: 3px solid @mag;
}
#workspaces button.urgent {
    background-color: @red;
}

#clock,
#custom-sep,
#battery,
#cpu,
#memory,
#disk,
#network,
#tray {
    padding: 0 8px;
    color: @white;
}

#custom-sep {
    color: @brblk;
}

#clock {
    color: @cyn;
    border-bottom: 4px solid @cyn;
}

#battery {
    color: @grn;
    border-bottom: 4px solid @grn;
}

#disk {
    color: @ylw;
    border-bottom: 4px solid @ylw;
}

#memory {
    color: @mag;
    border-bottom: 4px solid @mag;
}

#cpu {
    color: @ylw;
    border-bottom: 4px solid @ywl;
}

#network {
    color: @blu;
    border-bottom: 4px solid @blu;
}

#network.disconnected {
    background-color: @red;
}

#wireplumber {
    color: @fg;
    border-bottom: 4px solid @fg;
}

#wireplumber.muted {
    color: @brblk;
    border-bottom: 4px solid @brblk;
}

#tray {
    background-color: #2980b9;
}
